In [1]:
import numpy as np 
import pandas as pd

In [3]:
df1 = pd.DataFrame([[1,2,3],
                    [9,1,2],
                    [4,9,5],
                    [2,2,4]],columns = ['A','B','C'])
df1

   A  B  C
0  1  2  3
1  9  1  2
2  4  9  5
3  2  2  4

In [4]:
for i1 in df1:
    print(i1)

A
B
C

In [7]:
# 暴力把record 用for 迴圈取出來
for i2 in range(len(df1)):      
    print(df1.iloc[i2])

A    1
B    2
C    3
Name: 0, dtype: int64
A    9
B    1
C    2
Name: 1, dtype: int64
A    4
B    9
C    5
Name: 2, dtype: int64
A    2
B    2
C    4
Name: 3, dtype: int64

In [6]:
# 暴力把所有值用for迴圈取出來
for i2 in range(len(df1)):      
    for j in df1.iloc[i2]:
        print(j)

1
2
3
9
1
2
4
9
5
2
2
4

In [17]:
# 用iteritems()
for i3 in df1.iteritems():   # 依欄位將值取出來
    print(i3)

('A', 0    1
1    9
2    4
3    2
Name: A, dtype: int64)
('B', 0    2
1    1
2    9
3    2
Name: B, dtype: int64)
('C', 0    3
1    2
2    5
3    4
Name: C, dtype: int64)

In [10]:
# 用iterrows()
for i4 in df1.iterrows():   # 依record 將值取出來
    print(i4)

(0, A    1
B    2
C    3
Name: 0, dtype: int64)
(1, A    9
B    1
C    2
Name: 1, dtype: int64)
(2, A    4
B    9
C    5
Name: 2, dtype: int64)
(3, A    2
B    2
C    4
Name: 3, dtype: int64)

In [14]:
# 用itertuples()
for i5 in df1.itertuples():   # 依record 將值取出來
    print(i5)

Pandas(Index=0, A=1, B=2, C=3)
Pandas(Index=1, A=9, B=1, C=2)
Pandas(Index=2, A=4, B=9, C=5)
Pandas(Index=3, A=2, B=2, C=4)

In [24]:
# apply()的應用
print(df1.apply(np.mean))
print('='*40)
print(df1.apply(np.max))
print('='*40)
print(df1.apply(np.min))
print('='*40)
print(df1.apply(lambda x: x.count()))
print('='*40)
print(df1.apply(lambda x: x**3*10))

A    4.0
B    3.5
C    3.5
dtype: float64
========================================
A    9
B    9
C    5
dtype: int64
========================================
A    1
B    1
C    2
dtype: int64
========================================
A    4
B    4
C    4
dtype: int64
========================================
      A     B     C
0    10    80   270
1  7290    10    80
2   640  7290  1250
3    80    80   640
0   -1
1   -9
2   -4
3   -2
Name: A, dtype: int64