In [1]:
import numpy as np 
import pandas as pd

In [3]:
df1 = pd.DataFrame([[1,2,3],
                    [9,1,2],
                    [4,9,5],
                    [2,2,4]],columns = ['A','B','C'])
df1

   A  B  C
0  1  2  3
1  9  1  2
2  4  9  5
3  2  2  4

In [4]:
for i1 in df1:
    print(i1)

A
B
C

In [7]:
# 暴力把record 用for 迴圈取出來
for i2 in range(len(df1)):      
    print(df1.iloc[i2])

A    1
B    2
C    3
Name: 0, dtype: int64
A    9
B    1
C    2
Name: 1, dtype: int64
A    4
B    9
C    5
Name: 2, dtype: int64
A    2
B    2
C    4
Name: 3, dtype: int64

In [6]:
# 暴力把所有值用for迴圈取出來
for i2 in range(len(df1)):      
    for j in df1.iloc[i2]:
        print(j)

1
2
3
9
1
2
4
9
5
2
2
4